<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>

        <th:block th:include="include/header"> </th:block>
        <!--suppress ThymeleafVariablesResolveInspection -->
        <title th:text="| Call Taxi - ${title}|"></title>
    </head>
    <body id="pageBody" class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">

        <div id="wrapper" class="wrapper">

            <div id="content-wrapper" class="content-wrapper">
                <div layout:fragment="content"> </div>
            </div>

        </div>
        <th:block th:include="include/footer"> </th:block>
    </body>
</html>
