

<footer class="main-footer">
    <div class="footer-upper">
        <div class="inner">
            <h2>CONTACT US</h2>
            <p> 더엠코리아 주식회사 대표이사 : 000 &nbsp; | &nbsp;
                T. 02-556-3379 / F. 02-556-3359<br>
               통신 판매 번호 : 2000 서울xx 0000 &nbsp; | &nbsp;
                사업 및 제휴 문의 : webmaster@themkorea.co.kr<br>
                사업자 등록번호 : 220-86-49824 &nbsp; | &nbsp;
               주소 : 서울특별시 성동구 아차산로 103, 7층 708, 709호</p>

        </div>
    </div>
    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="row clearfix">
              <!--  <div class="col-md-6 col-sm-6 col-xs-12">
                    <p><img style="width:80px; height: 60px; " src="../css/images/taxi1.png" /></p>
                </div>-->
                <div class="copyright-text">Copyright© By NEXMORESYSTEMS INC. All Rights Reserved</div>
               <!-- <div class="col-md-6 col-sm-6 col-xs-12 mt-20">
                    <div class="copyright-text">Copyright© By NEXMORESYSTEMS INC. All Rights Reserved</div>
                </div>-->
            </div>
        </div>
    </div>
</footer>



<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jQuery.style.switcher.min.js"></script>
<script src="../js/jquery.appear.js"></script>
<script src="../js/jquery-ui.js"></script>
<script src="../js/jQuery-ui/jquery-ui.min.js"></script>
<script src="../js/jQuery/jquery-3.5.1.js"></script>
<script src="../js/jQuery/jquery-3.5.1.min.js"></script>
<script src="../js/revolution.min.js"></script>
<script src="../js/jquery.fancybox.pack.js"></script>
<script src="../js/jquery.fancybox-media.js"></script>
<script src="../js/owl.js"></script>
<script src="../js/wow.js"></script>
<script src="../js/appear.js"></script>
<script src="../js/isotope.js"></script>
<script src="../js/script.js"></script>
<script src="../js/wddo.selectbox-1.5.4.js"></script>
<script src="../js/toastr/toastr.js"></script>
<script src="../js/toastr/toastr.min.js"></script>
