<!DOCTYPE html>
<html lang="java">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=620">
<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="../js/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="../js/icheck-bootstrap/icheck-bootstrap.min.css">
<link rel="stylesheet" href="../js/jQuery-ui/jquery-ui.min.css">
<link rel="stylesheet" href="../js/OverlayScrollbars.min.css">
<link rel="stylesheet" href="../js/toastr.min.css">
<link rel="stylesheet" href="../js/css/common.css?v=20201026">-->
<script src="../js/lib/jquery/1.12.4/jquery.min.js"></script>
<script src="../js/lib/jqueryui/1.12.1/jquery-ui.min.js"></script>
<!--<script src="../js/jQuery/jquery-3.5.1.js"></script>
<script src="../js/jQuery/jquery-3.5.1.min.js"></script>-->

<title>::CALL TAXI::</title>
<!-- Stylesheets -->

<link href="../js/bootstrap/bootstrap.css" rel="stylesheet">
<link href="../js/toastr/toastr.css" rel = "stylesheet">
<link href="../js/toastr/toastr.min.css" rel = "stylesheet">
<link href="../css/contents.css" rel="stylesheet">
<link href="../css/revolution-slider.css" rel="stylesheet">
<link href="../css/slider-setting.css" rel="stylesheet">
<link href="../css/style.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" id="jssDefault" href="../css/custom/theme-2.css"/>

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="../css/responsive.css" rel="stylesheet">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->


<!--<script src="../js/jQuery-ui/jquery-ui.js"></script>
<script src="../js/jQuery-ui/jquery-ui.min.js"></script>-->

<link rel="apple-touch-icon" style="width:180px; height:180px;"  href="../images/favicon/taxi.png">
<link rel="icon" type="image/png" href="../images/favicon/taxi.png" style="width:32px; height:32px;">
<link rel="icon" type="image/png" href="../images/favicon/taxi.png" style="width:16px; height:16px;">

<header class="main-header header-style-one">

    <div class="header-lower">
        <div class="main-box">
            <div class="auto-container">
                <div class="outer-container clearfix">

                    <!--Logo Box-->
                    <div class="logo-box">
                        <div class="logo">
                            <a href="/main" title="The Finance"><img style="width:70px; height:60px; vertical-align:middle;" src="../images/favicon/shark.png" alt="Call Taxi">
                               <span style="font-weight: bold; font-color:#2bf0ff; font-size: large;">SHARKTAXI</span></a>

                           <!-- <a href="" title="consulted"><img style="width:70px; height:60px;margin-left: 10px; " src="../images/favicon/taxiwhite.png" alt=""></a>-->
                        </div>

                    </div>

                    <!--Nav Outer-->
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->

                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li class=""><a href="#">서비스 소개</a>

                                    </li>
                                    <li class="" id="use1"><a href="/main#use">이용 방법</a>

                                    </li>
                                    <li class=""><a href="/notice_list">공지사항</a>

                                    </li>
                                    <li class=""><a href="/inquire_insert">고객지원</a>


                                    </li>
                                    <li><a href="#"><img style="width:40px; height:40px; " src="../images/icon/google-play.png" alt=""></a></li>
                                    <li><a href="#"><img style="width:40px; height:40px; " src="../images/icon/app-store.png" alt=""></a></li>

                                    <li ><a style="color: #000b16; size:10px;" href="/login">로그인</a></li>
                                    <li ><a class="btn pull-right btn_join" style="color: #000b16; size:10px;" href="/register_normal">회원가입</a></li>
                                    <li ><a class="btn pull-right btn_join" style="color: #7b0d09; size:6px;" href="/change_password">회원정보수정</a></li>
                                </ul>

                            </div>

                        </nav><!-- Main Menu End-->


                    </div><!--Nav Outer End-->



                </div>


            </div>

        </div>
    </div>

    <!--Sticky Header-->


    <div class="sticky-header">
        <div class="auto-container clearfix">


            <!--Logo-->
            <div class="logo pull-left">
                <a href="/main" title="consulted"><img style="width:70px; height:60px;" src="../images/favicon/shark.png" alt="Call Taxi">
                    <span style="font-weight: bold; font-color:#2bf0ff; font-size: large;">SHARKTAXI</span></a>

               <!--<a href="" title="consulted"><img style="width:70px; height:60px; margin-left: 10px;" src="../images/favicon/taxitext.png" alt=""></a>-->
            </div>

            <!--Right Col-->
            <div style="margin-right:120px;" class="right-col pull-right">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <!-- Toggle Button -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li class=""><a href="#">서비스 소개</a>

                            </li>
                            <li class="" ><a href="/main#use">이용 방법</a>

                            </li>
                            <li class=""><a href="/notice_list">공지사항</a>

                            </li>
                            <li class=""><a href="/inquire_insert">고객지원</a>

                            </li>
                            <li><a href=""><img style="width:40px; height:40px; " src="../images/icon/google-play.png" alt=""></a></li>
                            <li><a href=""><img style="width:40px; height:40px; " src="../images/icon/app-store.png" alt=""></a></li>

                            <li ><a style="color: #000b16; size:10px;" href="/login">로그인</a></li>
                            <li ><a class="btn pull-right btn_join" style="color: #000b16; size:10px;" href="/register_normal">회원가입</a></li>
                            <li ><a class="btn pull-right btn_join" style="color: #7b0d09; size:6px;" href="/change_password">회원정보수정</a></li>

                        </ul>

                    </div>
                </nav>


            </div>

        </div>
    </div>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>


    <!--End Sticky Header-->
</header>
