<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/default.html}" >

<th:block layout:fragment="content">

<!--Main Slider-->
<section class="main-slider" data-start-height="850" data-slide-overlay="yes">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/taxi7.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                    <img src="images/main-slider/taxi7.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!--Slide Overlay-->
                    <div class="slide-overlay"></div>
                    <div class="tp-caption sft sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="-90"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><div class="text-left"><h2> 당신이 있는 곳 어디든지 샤크 택시가 찾아갑니다.</h2></div></div>

                    <div class="tp-caption sft sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="15"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><div class="text"></div></div>

                    <div class="tp-caption sfb sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="90"
                         data-speed="1500"
                         data-start="1000"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><!--<a href="" class="theme-btn btn-style-one">Read More</a>&ensp;&ensp;<a href="service/business.html" class="theme-btn btn-style-two">NEXMORE SERVICES</a>--></div>

                </li>
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/mask2.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                    <img src="images/main-slider/mask2.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <!--Slide Overlay-->
                    <div class="slide-overlay"></div>

                    <div class="tp-caption sft sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="-90"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><div class="text-left"><h2> 안전하게 <br> 내 위치 정보를 가족과 공유해 함께 보면서 <br>안전하게 귀가합니다.</h2></div></div>

                    <div class="tp-caption sft sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="15"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><div class="text"></div></div>

                    <div class="tp-caption sfb sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="90"
                         data-speed="1500"
                         data-start="1000"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><!--<a href="" class="theme-btn btn-style-one">Read More</a> &ensp;&ensp;<a href = "infoComm/business.html" class="theme-btn btn-style-two">NEXMORE SERVICES</a>--></div>
                </li>
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/taxi3.png"  data-saveperformance="off"  data-title="Awesome Title Here">
                    <img src="images/main-slider/taxi3.png" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!--Slide Overlay-->
                    <div class="slide-overlay"></div>
                    <div class="tp-caption sft sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="-90"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><div class="text-left"><h2><br> 배차 스트레스 없이, 요금 문제 걱정 없이, <br> 안전 운전에만 집중하세요</h2></div></div>

                    <div class="tp-caption sft sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="15"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><div class="text"></div></div>

                    <div class="tp-caption sfb sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="90"
                         data-speed="1500"
                         data-start="1000"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><!--<a href="" class="theme-btn btn-style-one">Read More</a>&ensp;&ensp;<a href="service/business.html" class="theme-btn btn-style-two">NEXMORE SERVICES</a>--></div>

                </li>
            </ul>
        </div>
    </div>
</section>



<!--Testimonial Style Two Section-->
<section class="testimonial-style-two">
    <div class="auto-container_min" id="use">
        <!--Title-->
        <div  class="sec-title centered">
            <h2>SHARK TAXI 이용 방법</h2>
        </div>
        <!--Carousel Outer-->
        <div class="carousel-outer">
            <div class="single-item-carousel owl-theme owl-carousel">
                <!--Slide-->

                <!--Slide-->

                    <div class="content">

                        <img style="width:200px; height:295px;" alt="1" src="/images/info/1.png">
                        <h3 style="color:#ffffff; font-weight: bold; margin-top:10px;">1. 출발/목적지 설정</h3>
                        <div style="color:#ffffff" class="text">출발지, 목적지, 추가비 입력</div>

                    </div>

                <!--Slide-->

                    <div class="content">

                        <img style="width:200px; height:295px;" alt="2" src="/images/info/2.png">
                        <h3 style="color:#ffffff;  font-weight: bold;margin-top:10px;">2. 택시 배차 완료 </h3>
                        <div style="color:#ffffff" class="text">지역, 시간을 고려한 신속 배차</div>
                    </div>


                    <div class="content">

                        <img style="width:200px; height:295px;" alt="3" src="/images/info/3.png">
                        <h3 style="color:#ffffff;  font-weight: bold;margin-top:10px;">3. 실시간 이동 정보</h3>
                        <div style="color:#ffffff" class="text">내 위치를 실시간으로 보고, <br>지인과 공유해서 안전하게 이동</div>
                    </div>

            </div>

        </div><!--End Carousel Outer-->

    </div>
</section>
    <!--News Style One-->
    <section class="testimonial-style-two">
    <div class="auto-container_min">

            <div class="hover-style1">

            </div>

            <div class="lower-box">
                <h3 style="text-align: center;"><b>빠르고 합리적인 이동 서비스 <br> 지금 경험해 보세요.</b></h3>

                <div style="text-align: center;margin-top:40px;" class="content">
                <div class="post-meta" style="display: inline-block;">
                <img style="width:140px; height:50px;" src="/images/main-slider/google_play.png" alt="구글">
                </div>
                <div class="post-meta" style="display: inline-block; margin-left:15px;">
                    <img style="width:140px; height:50px;" src="/images/main-slider/appstore.png" alt="apple">
                </div>
                </div>
            </div>

    </div>
    </section>




</th:block>
